body {
	background-image: url('bg-img/ClimateBg.png');
	/* background-repeat: no-repeat; */
}
.Recent {
	position: relative;
	width: 17%;
	height: 120px;
	background-color: antiquewhite;
	margin-left: 0;
	margin-top: 2%;
	border-radius: 8px;
	padding: 5px;
}

button {
	width: 120px;
	height: 20px;
	color: crimson;
	border: none;
	border-radius: 15px;
	background-color: aqua;
	margin: 5px;
}

.btn {
	height: 35px;
	width: 244px;
	margin: 0;
	position: relative;
	display: flex;
	border-radius: 12px;
	border: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: rgb(38, 38, 145);
	font-size: 0.9rem;
	font-weight: bold;
	background-color: rgb(212, 137, 75);
	border-color: rgb(165, 165, 224);
}

#search {
	margin: 3px;
	height: 24px;
	width: 228px;
	border-radius: 5px;
	font-size: 1.2rem;
	resize: none;
	overflow-x: hidden;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cityCard {
	float: left;
	height: 290px;
	width: 250px;
	background-color: blue;
	border-radius: 12px;
	margin: 12px;
	padding: 12px;
	box-shadow: 1px 1px 3px 4px rgb(195, 231, 228);

	/* position: relative; */
}

.cityName,
.cityName2,
.cityName3,
.cityName4,
.cityName5,
.cityName6 {
	color: rgb(21, 223, 156);
	right: 0;
	margin: 5px;
	font-size: 1.7rem;
	margin-top: 29px;
	box-shadow: 2px 2px 2px 2px black;
	border-radius: 10px;
	padding: 5px;
}

.daypic1,
.daypic2,
.daypic3,
.daypic4,
.daypic5,
.daypic6 {
	box-shadow: 1px 1px 3px 3px rgb(124, 124, 124);
	position: relative;
	display: flex;
	height: 75px;
	width: 75px;
	background-color: aqua;
	justify-content: center;
	text-align: center;
	padding: 5px;
	font-size: 1.2rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border-radius: 10px;
	margin-top: -40%;
}

.conditions,
.conditions2,
.conditions3,
.conditions4,
.conditions5,
.conditions6 {
	position: relative;
	height: 100px;
	width: 110px;
	background-color: rgb(210, 223, 28);
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-left: 54%;
	flex-wrap: wrap;
	font-size: 1.7rem;
	font-family: fantasy;
	border-radius: 12px;
	color: rgb(42, 72, 155);
	box-shadow: 1px 1px 3px 3px rgb(140, 140, 206);
}

.sunrise,
.sunrise2,
.sunrise3,
.sunrise4,
.sunrise5,
.sunrise6 {
	box-shadow: 2px 2px 2px 2px black;
	color: yellow;
	margin: 5px;
	border-radius: 5px;
	padding: 5px;
}

.speed,
.speed2,
.speed3,
.speed4,
.speed5,
.speed6 {
	box-shadow: 2px 2px 2px 2px black;
	color: yellow;
	margin: 5px;
	border-radius: 5px;
	padding: 5px;
}

.humidity,
.humidity2,
.humidity3,
.humidity4,
.humidity5,
.humidity6 {
	box-shadow: 2px 2px 2px 2px black;
	color: yellow;
	margin: 5px;
	border-radius: 5px;
	padding: 5px;
}

.date,
.date2,
.date3,
.date4,
.date5,
.date6 {
	box-shadow: 2px 2px 2px 2px black;
	color: yellow;
	margin: 5px;
	border-radius: 5px;
	padding: 5px;
}

.hidden {
	display: none;
}

#clear {
	width: 121px;
	text-align: center;
	align-items: center;
	justify-content: center;
	display: flex;
	height: 20px;
	font-weight: bolder;
	color: aqua;
	border: none;
	border-radius: 11px;
	background-color: crimson;
	margin: 5px;
}
